<div class="menulogin">
<form id="tablogin">
    <mat-card-content class="email">
        <mat-form-field class="example-full-width">
            <mat-label> email</mat-label>
            <textarea matInput placeholder=" digite seu e-mail"></textarea>
          </mat-form-field>
    </mat-card-content>
    
        <mat-card-content  class="password" >
            <mat-form-field class="example-full-width">
                <mat-label  class="password">password</mat-label>
                <textarea type="password" matInput placeholder=" digite seu password" type="password"></textarea>
              </mat-form-field>
        </mat-card-content>
        
        <section>
        
            <div class="example-button-row">
              <button mat-raised-button color="primary" routerLink="/">Login</button> 
            </div>
          </section>
    </form>
    </div>
