.footer{
    position:fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    height: 40px;
    border: solid black 1px;
    border-radius: 2px;
    
}

.footer > span{
    font-size: 1.08rem;
    font-weight: 300;
    margin-right: 10px;
    font-family: cursive black;
    font-style: italic;
    font-variant-caps: unicase;
    
}